* {
  font-family: 'IM Fell English SC', serif;
  margin: 0;
}

.parchment-wrapper {
  width: 100%;
  height: 100%;
  background-image: url('/parchment.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.book-theme {
  width: 100%;
  height: 100%;
  background: none;
  text-align: center;
  padding: 0;
}

.title {
  font-size: clamp(1.5rem, 4vw, 3rem);
  color: #444;
}

.subtitle,
p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  color: #444;
}

@keyframes revealText {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.hidden-text {
  opacity: 0;
  clip-path: inset(0 100% 0 0);
}

.reveal-text {
  opacity: 1;
  animation: revealText 4s ease-in-out forwards;
  white-space: pre-wrap;
}

.page {
  width: 600px;
  height: 750px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.background.visible {
  opacity: 1;
}
