* {
    font-family: "IM Fell English SC", serif;
    margin: 0;
  }
  
  .book-theme {
    width: 100%;  
    height: 100%; 
    background: linear-gradient(135deg, #f4e1b2 0%, #d8b79f 100%);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: #444;
  }
  
  .subtitle, p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: #444;
  }
  